<h1 class="tw-p-8 tw-text-4xl tw-text-center">{{ collection.title }}</h1>
{% if collection.description != blank %}
  <div class="tw-my-8">
    {{ collection.description }}
  </div>
{% endif %}
<div class="tw-flex tw-justify-center tw-flex-wrap tw-px-8">
  {% for product in collection.products %}
    {% render 'main-product', product: product %}
  {% endfor %}
</div>
